<header class="header-container">
    <ul class="container-lists">
        <li class="lists-pages">
            <a routerLink="/" class="pages">
                <h1 class="header-text">
                    {{ header }}
                </h1>
            </a>
        </li>
        <li class="lists-pages">
            <a routerLink="/create" class="pages">
                <button class="btn btn-success">
                    CREATE
                </button>
            </a>
        </li>
    </ul>
</header>